@import "tailwindcss";

@theme {
  --color-brand-black: #02060d;
  --color-brand-card: #0b121d;
  --color-brand-blue: #2582ff;
  --color-brand-border: #1e293b;
  --color-nav-border: #1b212d;
}

body {
  background-color: var(--color-brand-black);
  color: white;
}
